
<div class="container">
	<div class="row">
		<img class="col-xs-12 preklopnikSlika" src="/lib/img/preklopnik.jpg">
	</div>
	<div class="row">
		<button class="btn btn-default" id="masterBtn"><strong>PRIMARNA</strong></button>
		<button class="btn btn-default" id="backupBtn"><strong>REDUNDANTNA</strong></button>
	</div>
</div>