<% include partials/header %>

<h2>Preklopnik 2Mbit linkov!</h2>

<p>Trenutno aktivna povezava <%= aktivnaPovezava %></p>

<button class="btn btn-default" id="backupBtn">Primarna</button>
<button class="btn btn-default" id="masterBtn">Redundantna</button>

<% include partials/footer %>