<% include partials/header %>

<h2>Preklopnik 2Mbit linkov!</h2>

<form action="/preklop" method="POST">	
	<button class="btn btn-default" name="preklop" value="master">Primarna</button>
	<button class="btn btn-default" name="preklop" value="backup">Redundantna</button>
</form>

<% include partials/footer %>