<% include partials/header %>

<h1>Vpis novega uporabnika</h1>
<form action="/adduser" method="POST">
	<input type="text" name="username" placeholder="Uporabniško ime">
	<input type="password" name="password" placeholder="Geslo">
	<button class='btn btn-info'>Dodaj</button>
</form>

<% include partials/footer %>